asgiref==3.8.1
Django==5.0.4
django-debug-toolbar==4.4.2
djangorestframework==3.15.2
psycopg2-binary==2.9.9
sqlparse==0.5.0
tzdata==2024.1
pillow==11.1.0
django-filter>=23.0
django-cors-headers>=4.0
reportlab>=3.6.0
drf-extra-fields>=3.7.0
