@use "../../../../styles/variables.scss" as *;

.product {
  display: flex;
  gap: $space_xxxl;

  &__header {
    display: flex;
    flex-direction: column;
    gap: $space_xxxl;

    &__text {
      display: flex;
      flex-direction: column;
      gap: $space_xl;
    }

    &__purchase {
      padding-top: $space_xxl;
      display: flex;
      flex-direction: column;
      gap: $space_xxxl;

      &__buttons {
        display: flex;
        gap: $space_xxxl;
      }
    }
  }
}

@media (max-width: 1024px) {
  .product {
    align-items: center;
    flex-wrap: wrap;
  }
}

.add_info {
  margin-top: $space_xxxl;
  margin-bottom: $space_xl;

  display: flex;
  gap: 70px;
  flex-wrap: wrap;
}

.author_img {
  border-radius: 1000px;
  width: 150px;
  border: 1px solid $brand-color;
}

.author_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}