@use "../../../styles/styles.scss" as *;
@use "../../../styles/variables.scss" as *;

.wrapper {
    @include wrapper();
    display: flex;
    flex-direction: column;
    margin-top: 75px;
    gap: 25px;

    .button {
        max-width: fit-content;
        margin-left: 10px;
    }

}

.img {
    border-radius: 120px;
    width: 100px;
}

.root {
    display: flex;
    align-items: center;
    gap: 40px;
}

.redact {
    outline: none;
    border: 1px solid $primary-color;
    padding: 2px;
    width: 35px;
    height: 35px;
    background-color: $brand-color;
    margin-left: 4px;
    border-radius: 100px;
}

.title_block {
    display: flex;
    gap: 10px;
    align-items: center;
}

.redact:hover {
    background-color: $brand-hover;
}