@use "../../../styles/variables.scss" as *;
@use "../../../styles/styles.scss" as *;


.wrapper {
    @include wrapper();
    display: flex;
    flex-direction: column;
    margin-top: 75px;
}

.price {
    margin-bottom: 20px;
}

.cart_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    row-gap: 40px;
}